# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Env
.env

# Data (keep folder structure, ignore contents)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# AWS / CDK
cdk.out/
.aws-sam/

# OS
.DS_Store
giithub_token.txt
